* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 360px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  z-index: 0;
  
}

.login {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -40%);
  width: 300px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  z-index: 0;
  display: none;
}

.close {
  position: absolute;
  top: 7%;
  left: 89%;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
}

.close:hover {
  color: #bb0000;
}

.login #img-user,
#login #img-user {
  position: relative;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  background-color: #000000;
  padding: 16px 20px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.login h2,
#login h2 {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#input-Username-or-Email,
.input-Username-or-Email,
#input-password,
.input-password,
#input-First-Name,
#input-Family-Name {
  position: absolute;
  outline: none;
  border: none;
  width: 250px;
  height: 35px;
  border-bottom: 1px solid #8d8d8d;
  background: none;
  padding: 2px;
  color: rgb(0, 0, 0);
}

#input-First-Name {
  width: 210px;
  top: 30%;
  left: 40px;
}

#input-Family-Name {
  width: 210px;
  top: 40%;
  left: 40px;
}

#input-Username-or-Email {
  width: 210px;
  top: 50%;
  left: 40px;
}

.input-Username-or-Email {
  width: 210px;
  top: 30%;
  left: 40px;
}

#input-password {
  width: 210px;
  top: 60%;
  left: 40px;
}

.input-password {
  width: 210px;
  top: 45%;
  left: 40px;
}

#img-eye {
  position: absolute;
  top: 47.8%;
  left: 77%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
}

.img-eye-off {
  position: absolute;
  top: 47.8%;
  left: 76.5%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
  display: none;
}

.img-eye {
  position: absolute;
  top: 62%;
  left: 78%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
}

#img-eye-off {
  position: absolute;
  top: 62%;
  left: 77.7%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
  display: none;
}


::placeholder {
  color: #383838;
}

#btn-login {
  position: absolute;
  top: 67%;
  left: 87px;
  width: 130px;
  height: 35px;
  border: none;
  outline: none;
  background: #4ea0fd;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  transition: .7s;
  cursor: pointer;
}

.btn-login {
  position: absolute;
  top: 75%;
  left: 29.5%;
  width: 130px;
  height: 35px;
  border: none;
  outline: none;
  background: #4ea0fd;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  transition: 0.7s;
  cursor: pointer;
}

#span-center {
  position: absolute;
  left: 53%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 10%;
}

.span-center {
  position: absolute;
  left: 53%;
  bottom: 9.5%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 10%;
}
#span-right {
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 18.5%;
  left: 77.5%;
  background-color: #bdbdbd;
  transform: translate(-50%, -50%);
}

.span-right {
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 13.5%;
  left: 77.5%;
  background-color: #bdbdbd;
  transform: translate(-50%, -50%);
}

#span-left {
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 18.5%;
  right: 77.5%;
  background-color: #bdbdbd;
  transform: translate(50%, -50%);
}

.span-left {
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 13.5%;
  right: 77.5%;
  background-color: #bdbdbd;
  transform: translate(50%, -50%);
}

#btn-login:hover,
.btn-login:hover {
  background: #1f1f1f;
  color: #4ea0fd;
}

/*--------- sign up & Login ---------*/

#Forgot-pass a {
  position: absolute;
  top: 92%;
  left: 32%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
  transition: 0.7s;
  padding: 5px;
  text-transform: capitalize;
}

#Forgot-pass a:hover {
  color: #bb0000;
}

.sign-up {
  display: inline-block;
  position: absolute;
  top: 87%;
  left: 7%;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.login-account {
  display: inline-block;
  position: absolute;
  top: 91.5%;
  left: 7%;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

#sign-up,
#login-account {
  color: rgb(0, 0, 0);
  transition: 0.7s;
  font-size: 12px;
  text-transform: capitalize;
}

#sign-up:hover,
#login-account:hover {
  color: #00960c;
}
